* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #111111;
}

button {
  font-family: inherit;
}

button:hover {
  opacity: 0.85;
}

html,
body,
#root {
  min-height: 100%;
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}